@import "tailwindcss";

@theme {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* Forcing light mode for consistency as requested to fix contrast issues */
body {
  color: var(--foreground);
  /* background: var(--background);  <-- This overrides our dynamic classes! Remove or comment out */
  font-family: var(--font-sans), Arial, Helvetica, sans-serif;
  @apply antialiased;
}